/* Filename: Dashboard.module.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  height: 100vh;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
}

.navbarTitle {
  font-size: 24px;
  font-weight: 600;
}

.navbarRight .createBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbarRight .createBtn:hover {
  background-color: #45a049;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px); /* 60px to account for navbar height */
  padding: 20px;
}

.dashboardUpperHalf {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dashboardLowerHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.projectCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectCard {
  background-color: #333;
  color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 12px;
  width: 220px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.projectDetails {
  margin-top: 10px;
}

.projectName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.paginationButton:hover {
  background-color: #45a049;
}

.errorMessage {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}
